:root {
	--black: #040807;
	--brownish-grey: #383637;
	--paler-grey: #7b706a;
	--brown: #59363D;
	--maroon: #8C283E;
	--bright-orange: #F75B30;
	--paler-orange: #FF7B29;
	--leaf-green-dark: #1A4734;
	--leaf-green-light: #418B24;
	--heading-font: 'Spectral';
	
}

*{
	box-sizing: border-box;
	font-size: 16px;
}

.primary-text{
	color: var(--black);
}

.secondary-text{
	color: var(--brownish-grey);
}

.bg-black{
	background-color: var(--black);
}

.bg-brown{
	background-color: var(--brown);
}

.bg-maroon{
	background-color: var(--maroon);
}

.bg-orange-bright{
	background-color: var(--bright-orange);
}

.bg-orange-pale{
	background-color: var(--paler-orange);
}

*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}

body{
	background-color: var(--black);
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--paler-grey);
	/* font: var(--heading-font), serif; */
	/* font: ExtraBold 800 italic 'Spectral'; */
}

h1{
	font-size: 48px;
	font-weight:800;
	/*background-color: pink;*/
}

h2{
	font-size: 36px;
	font-weight: 500;
}

h3{
	font-size: 24px;
}

p, a{
	font-size: 12px;
}

#nav{
	position: fixed;
	height: 100%;
	width: 25%;
	background-color: rgba(0,0,0,0.01);
	left: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;	
	display:none;
}

#nav ul{
	width:50%;
	right: 0px;
	margin: auto 0px;
	background-color: var(--leaf-green-light);
	color: var(--paler-grey);
	list-style-type: none;
	text-align: justify;
}

#nav ul li{
	margin:5px 0px;
	padding: 10px;
	color:#f1d8c9;
}

#nav ul li a{
	text-decoration: none;
	color: var(--bright-orange);
	width: 100%;
}

#btnMenu{
	background-color: rgba(0,0,0, 0);
	color: var(--bright-orange);
	padding: 10%;
	border: 1px solid var(--bright-orange);
	mix-blend-mode:overlay;
}

section{
	width: 100vw;
	height: 100vh;
	margin: 0 0 0 0;
	color: var(--black);
	background-color: var(--maroon);
	border-radius: 0px;
}

/* Head section of page */
.section-head{
	height:15%;
	background-color: var(--brown);
	display:grid;
	grid-template-columns: 10% auto 10%;
	grid-column: 1/3;
	padding:0;
}

.section-head div{
	/*padding: 10px;*/
	display: flex;
	align-content:center;
	align-items: center;
	margin:0;
}

.site-logo {
	border-radius: 50%;
	height: auto;
	width: 100px;
	z-index:1000;
}

.section-head div h1{
	width: 100%;
	text-align:center;
}

/* Body section of page */
.section-body{
	height:70%;
	background-image: url("images/red-and-orange-blurred.jpg");
}

#banner-grid-container{
	/* Divide space into 3x3 grid */
	display: flex;
	align-content: space-around;
	flex-direction: row;
	align-items: center;
	align-self: center;
}

.banner-text{
	display:flex;
	flex-direction: column;
	padding: auto;
	margin: auto 20px;
	max-width:100%;
}

.banner-text h1{
	color: var(--leaf-green-dark);
	font-family: 'Spectral';
}

.banner-Image{
	max-width: 35%;
	max-height: auto;
	border-radius: 50%;
}

.cta{
	padding: 10px;
	border: 1px var(--brown) solid;
	border-radius: 5px;
	background-color: var(--brown);
	color: var(--paler-orange);
	width: 25%;
	text-decoration: none;
	text-align: center;
}

.cta :hover{
	color: var(--bright-orange);
}

/* Footer section of page */
.section-footer{
	height:15%;
	background-image: url("images/red-and-orange-blurred.jpg");
	background-position: bottom;
}